billing-devops/billing-scripts/config/stepfunctions/dev/billing_dev_revenue_5mins_trigger_job_step_function.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Examine Dop Change and send rev-sqs",
  "States": {
    "Examine Dop Change and send rev-sqs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-west-2:863203846708:function:billing-dev-revenue-5mins-examine-dop:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Message number"
    },
    "Message number": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.messsage_counts",
          "NumericEquals": 0,
          "Next": "5mins job no dop"
        }
      ],
      "Default": "Run Revenue Job"
    },
    "5mins job no dop": {
      "Type": "Succeed"
    },
    "Run Revenue Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-west-2:863203846708:cluster/billing-dev-job",
        "TaskDefinition": "arn:aws:ecs:us-west-2:863203846708:task-definition/billing_dev_revenue_computation_main_td:1",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-031425f6c9b3838bd",
              "subnet-0f1cc7d041343c904"
            ],
            "SecurityGroups": [
              "sg-0925271d926b84730"
            ],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "ResultPath": null,
      "Next": "Send PDF message to SQS"
    },
    "Send PDF message to SQS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-west-2:863203846708:function:billing-dev-revenue-send-pdf-message:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Map"
    },
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "Generate PDF process",
        "States": {
          "Generate PDF process": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
              "LaunchType": "FARGATE",
              "Cluster": "arn:aws:ecs:us-west-2:863203846708:cluster/billing-dev-job",
              "TaskDefinition": "arn:aws:ecs:us-west-2:863203846708:task-definition/billing_dev_bill_pdf_taskdef:12",
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "Subnets": [
                    "subnet-031425f6c9b3838bd",
                    "subnet-0f1cc7d041343c904"
                  ],
                  "SecurityGroups": [
                    "sg-0925271d926b84730"
                  ],
                  "AssignPublicIp": "DISABLED"
                }
              }
            },
            "End": true
          }
        }
      },
      "Label": "Map",
      "MaxConcurrency": 1000,
      "ItemsPath": "$.num_of_machine",
      "Next": "5mins job with dop- Success",
      "ToleratedFailurePercentage": 50
    },
    "5mins job with dop- Success": {
      "Type": "Succeed"
    }
  }
}