billing-devops/billing-scripts/config/stepfunctions/c8prod/billing_c8prod_revenue_5mins_trigger_job_step_function.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Examine Dop Change",
  "States": {
    "Examine Dop Change": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-west-2:806235885150:function:billing-prod-revenue-5mins-examine-dop:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Message number"
    },
    "Message number": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.messsage_counts",
          "NumericEquals": 0,
          "Next": "5mins job no dop"
        }
      ],
      "Default": "Run Revenue Job"
    },
    "5mins job no dop": {
      "Type": "Succeed"
    },
    "Run Revenue Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-west-2:806235885150:cluster/billing-prod-job",
        "TaskDefinition": "arn:aws:ecs:us-west-2:806235885150:task-definition/billing_prod_revenue_computation_main_td:3",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-0591083ab1232e4a4",
              "subnet-011b235417ef13848"
            ],
            "SecurityGroups": [
              "sg-0a6c380e527e7b6f5"
            ],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "ResultPath": null,
      "Next": "Map",
      "InputPath": "$.messsage_counts"
    },
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "Generate PDF process",
        "States": {
          "Generate PDF process": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
              "LaunchType": "FARGATE",
              "Cluster": "arn:aws:ecs:us-west-2:806235885150:cluster/billing-prod-job",
              "TaskDefinition": "arn:aws:ecs:us-west-2:806235885150:task-definition/billing_prod_bill_pdf_taskdef:6",
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "Subnets": [
                    "subnet-0591083ab1232e4a4",
                    "subnet-011b235417ef13848"
                  ],
                  "SecurityGroups": [
                    "sg-0a6c380e527e7b6f5"
                  ],
                  "AssignPublicIp": "DISABLED"
                }
              }
            },
            "End": true
          }
        }
      },
      "Label": "Map",
      "MaxConcurrency": 1000,
      "ItemsPath": "$.num_of_machine",
      "Next": "5mins job with dop- Success",
      "ToleratedFailurePercentage": 50
    },
    "5mins job with dop- Success": {
      "Type": "Succeed"
    }
  }
}